# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.env
.env.*
!/.env.example

# Node.js
node_modules/
.next/
npm-debug.log
yarn-error.log

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
